<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Paginaweb.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img id="logo2" src="./logo-color.png" alt="logo">
            </div>
            <div>
                <nav>
                    <a class="menu" href="">Home</a>
                    <a class="menu" href="#Galeria">Galeria</a>
                    <a class="menu" href="#servicios">Servicios</a>
                </nav>
            </div>
        </div>
    </header>
    <section>
    <div class="sobremic">
        <div class="sobremi">
            <h2 id="sobremitext">Sobre mi</h2>
            <p id="textaco">¡Hola! Soy Adrian Solomakha, <br>apasionado de la informática con 4 años <br>de experiencia en Informatica.</p>
            <div class="boton">
                <a href="#Contacto">
                    <button class="boton">Contactame</button>
                </a>
            </div>
        </div>
        <div class="imagen1">
            <img src="./leon.png">
        </div>
    </div>
    </section>
    <section>
        <div class="sobremilargo">
            <h2 id="sobremilargo1"><span>Sobre mi</span></h2>
            <div th:each="sobremi : ${sobremi}" class="sobremilargo2">
                <!-- Este bucle itera sobre cada elemento del atributo "sobremi" que viene del controlador -->
                <!-- Para cada "sobremi", se crea un div con la clase "sobremilargo2" -->
                <p th:text="${sobremi.texto_sobremi}" class="sobremilargo2"></p>
                <!-- Dentro de cada div, se agrega un párrafo (<p>) -->
                <!-- El atributo th:text se usa para definir el texto del párrafo, obtenido llamando al método "getTexto_sobremi()" del objeto "sobremi" -->
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2 id="servicios"><span>Servicios</span></h2>
            <div th:each="lenguaje : ${lenguajes}" class="serviciosimagenes">
                <!-- Este bucle itera sobre cada elemento del atributo "lenguajes" que viene del controlador -->
                <!-- Para cada lenguaje, se crea un div con la clase "serviciosimagenes" -->
                <img class="imagenser" th:src="${lenguaje.getImg()}">
                <!-- Dentro de cada div, se agrega una imagen con la clase "imagenser" -->
                <!-- El atributo th:src se usa para definir la fuente de la imagen, obtenida llamando al método "getImg()" del objeto "lenguaje" -->
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2 id="Galeria"><span>Galeria</span></h2>
            <div th:each="Proyecto : ${proyectos}">
                <img class="imagengaleria" th:src="${Proyecto.getImg()}">
            </div>
            <div class="boton11">
                <a href="">
                    <button class="boton1">Ver mas</button>
                </a>
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2 id="Contacto"><span>Contacto</span></h2>
        </div>
        <div class="contactomenu">
            <div class="email">
                <img id="email1" src="./gmail.png">
                <a id="emailcontacto1" href="mailto:adrian.s377996@cesurformacion.com"><h2>adrian.s377996@cesurformacion.com</h2></a>
            </div>
            <div class="linkedin">
                <img id="linkedin1" src="./linkedin.png">
                <a id="linkedinlink" href="https://es.linkedin.com/in/adrian-solomakha-631288210"><h2>Adrian Solomakha</h2></a>
            </div>
        </div>
        <div class="contactomenu1">
            <div class="whatsapp">
                <img id="whatsapp" src="./what.png">
                <a id="linkedinlink" href="https://wa.me/634234234"><h2>+34 634 234 234</h2></a>
            </div>
        </div>
            <div class="container">
                <form action="#" method="post" id="contactForm">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <label for="mensaje">Mensaje</label>
                <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
                <input type="submit" value="Enviar">
                </form>
            </div>
    </section>
    <footer>
        <div class="footer1">
            <div class="gracias">
                <h2>Gracias por mirarlo</h2>
            </div>
            <div class="contactame1">
                <h2>Contactame</h2>
            </div>
            <div class="emailfoot">
                <a id="emailfooter" href="mailto:adrian.s377996@cesurformacion.com"><h2>adrian.s377996@cesurformacion.com</h2></a>
            </div>
        </div>
    </footer>
</body>
</html>