body{
    background-color: #343434;
    margin: 0;
    padding: 0;
}
.header{
    justify-content: space-between;
    align-items: center;
    height: 100px;
    display: flex;
    background-color: #343434;
}
nav{
    margin-right: 700px;
    gap: 100px;
    display: flex;
}
.menu{
    font-size: 30px;
    display: flex;
    text-decoration: none;
    color: #FFBD00;
}
.menu:hover{
    color: rgb(26, 26, 26);
}
.sobremi{
    margin-left: 300px;
    margin-top: 200px;
}
.boton{
    font-size: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: #FFBD00;
    background-color: #343434;
    border-radius: 10px;
    border-color: #FFBD00;
}
.boton:hover{
    background-color: rgb(26, 26, 26);
}
.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 200px;
height: 200px;
overflow: scroll;
}

::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #FFBD00;  
}

::-webkit-scrollbar-thumb:hover {
background: #999;  
}
.imagen1{
    margin-top: 90px;
    margin-left: 200px;
    width: 600px;
    height: 700px;
    display: flex;
}
.sobremic{
    display: flex;
}
#sobremitext{
    color: #FFBD00;
    font-size: 50px;
}
#textaco{
    font-size: 30px;
    color:white;
}
#sobremilargo1{
    font-size: 50px;
    color: #FFBD00;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobremilargo2{
    font-size: 30px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#servicios{
    font-size: 100px;
    color: #FFBD00;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenser{
    margin-left: 250px;
    width: 300px;
}
.imagengaleria{
    border-radius: 10px;
    width: 700px;
    margin-left: 150px;
}
#Galeria{
    font-size: 100px;
    color: #FFBD00;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Galeria::before,
#Galeria::after {
    content: "";
    flex: 1;
    border-top: 1px solid #FFBD00;
    margin: 0 10px;
}
#Galeria span {
    padding: 0 10px;
}
#servicios::before,
#servicios::after {
    content: "";
    flex: 1;
    border-top: 1px solid #FFBD00;
    margin: 0 10px;
}
#servicios span {
    padding: 0 10px;
}
#sobremilargo1::before,
#sobremilargo1::after {
    content: "";
    flex: 1;
    border-top: 1px solid #FFBD00;
    margin: 0 10px;
}
#sobremilargo1 span {
    padding: 0 10px;
}
.boton1{
    font-size: 30px;
    transition: background-color 0.3s;
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: #000000;
    background-color: #FFBD00;
    border-radius: 10px;
    border-color: #FFBD00;
}
.boton1:hover{
    background-color: #999;
}
.boton11{
    margin-top: 100px;
    margin-left: 860px;
    display: flex;
    text-align: center;
    align-items: center;
}
#Contacto{
    font-size: 100px;
    color: #FFBD00;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Contacto::before,
#Contacto::after {
    content: "";
    flex: 1;
    border-top: 1px solid #FFBD00;
    margin: 0 10px;
}
#Contacto span {
    padding: 0 10px;
}
.email{
    color: #FFBD00;
    display: flex;
}
#email1{
    margin-top: 30px;
    height: 60px;
    width: 110px;
}
.linkedin{
    color: #FFBD00;
    display: flex;
}
#linkedin1{
    margin-right: 10px;
    margin-top: 37px;
    height: 50px;
    width: 50px;
}
.contactomenu{
    gap: 400px;
    display: grid;
    place-items: center;
    place-content: center;
    display: flex;
    font-size: 30px;
}
.contactomenu1{
    margin-top: 100px;
    display: grid;
    place-items: center;
    place-content: center;
    display: flex;
    font-size: 30px;
}
.whatsapp{
    color: #FFBD00;
    display: flex;
}
#whatsapp{
    margin-bottom: 200px;
    margin-right: 10px;
    margin-top: 37px;
    height: 50px;
    width: 50px;
}
#logo2{
    margin-left: 100px;
    width: 100px;
}
.footer1{
    background-color: black;
    margin-top: 100px;
    border: 2px solid #FFBD00;
    padding: 20px;
}
.gracias{
    text-align: center;
    color: #FFBD00;
}
.contactame1{
    text-align: center;
    color: #FFBD00;
}
.emailfoot{
    text-align: center;
    color: white;
}
#linkedinlink{
    font-size: 30px;
    display: flex;
    text-decoration: none;
    color: #FFBD00;
}
#linkedinlink:hover{
    transition: color 0.2s ease-in-out;
    color: rgb(26, 26, 26);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-size: 40px;
    text-align: center;
    display: block;
    margin: 10px 0 5px;
    color: #FFBD00;
}

input,
textarea {
    color: white;
    background-color: #272727;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #FFBD00;;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    font-size: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
    width: 400px;
    height: 50px;
    color: #FFBD00;
    background-color: #343434;
    border-radius: 10px;
    border-color: #FFBD00;
}

input[type="submit"]:hover {
    transition: color 0.2s ease-in-out;
    background-color: rgb(26, 26, 26);
}
.imagenser:hover{
    transition: transform 0.3s ease-in-out;
    transform: rotateY(20deg) rotateX(-20deg);
}
.imagengaleria:hover{
    transition: transform 0.3s ease-in-out;
    transform: rotateY(20deg) rotateX(-20deg);
}
#sobremilargo2{
    text-align: center;
    margin-left: 460px;
    max-width: 1000px;
}
#emailfooter{
    color: white;
    text-decoration: none;
}
#emailcontacto1{
    text-decoration: none;
    color: #FFBD00;
}
#emailcontacto1:hover{
    transition: color 0.2s ease-in-out;
    color: rgb(26, 26, 26);
}